doctype html
head
  title Approve Produce
  link(rel='stylesheet' href='css/foApprove.css')
header
  h1 Approve Produce and Products
main
  
   .card
     if products.length 
      each  product in products 
          h2 #{product.fullName}
          p
            strong #{product.ward}:
            |  Name of product
          p
            strong Product Description:
            |  #{product.ward}       
            strong Quantity:
            |  #{product.quantity}
          p
            strong Price:
            |  $20
          //- img(src="#{product.productimage}", alt="") 
          img(src=product.productimage, alt="image to be uploaded") 
          button Approve
      