doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Product Page
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')

.container.my-4
  .row
    .col-md-6
      img.img-fluid(src=product.productimage,alt='Product Image')
    .col-md-6
      h1 #{product.productName}
      p
        i.fas.fa-dollar-sign
        strong Price:
        |  UGX #{product.unitPrice}
      p
        i.fas.fa-phone
        strong Phone Number:
        | #{product.phoneNumber}
      p
        i.fas.fa-map-marker-alt
        strong Shop Address:
        |   #{product.directions}
      p
        i.fas.fa-tags
        strong Type of Product:
        |  #{product.produceType}
      p
        i.fas.fa-truck
        strong Method of Delivery:
        |   #{product.delivery}
      a.btn.btn-success.mt-4(href='#' data-toggle='modal' data-target='#contactModal')
        i.fas.fa-envelope
        |  Contact Seller
 
// Contact Modal
#contactModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='contactModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
      .modal-body
        form(name='register' action=`/products/${product._id}/messages` method='post' onsubmit='return Validate();')

          .form-group
            label(for='name') Name
            input#name.form-control(type='text' placeholder='Enter your name' name='content' )
          .form-group
            label(for='email') Email address
            input#email.form-control(type='text' placeholder='Enter your email'  name='content')
          .form-group
            label(for='message') Message
            textarea#message.form-control(rows='5' name='content')
            button.btn.btn-secondary(type='button' data-dismiss='modal')
             | Close
             button.btn.btn-success(type='submit') Send Message
          
     
