doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Product Page
  // Bootstrap CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  // Custom CSS
  style.
    body {
    background-color: #f8f9fa;
    }
    .card {
    margin-top: 50px;
    }
    .card-img-top {
    height: 300px;
    object-fit: cover;
    }
.container
  .row
    .col-md-8.mx-auto
      .card
   
        .card-body
          h5.card-title #{product.name}
          p.card-text UGX #{product.unitPrice}         
          form(action='/edit_product?id='+product._id method='post' )
            .form-group
              label(for='name') Quanity :
              input#name.form-control(type='text' name='quantity' value=product.quantity disabled )
            .form-group
              label(for='payment') Payment:
              input#payment.form-control(type='text' name='payment' value=product.payment disabled  )
            .form-group
              label(for='directions') Directions:
              textarea#directions.form-control(name='directions' value=product.directions disabled  )
            .form-group
              label(for='delivery') Method of Delivery:
              input(type="text")#delivery.form-control(name='delivery' value=product.delivery disabled  )
            .form-group
              label(for='productType') Type Of Produce :
              input(type="text")#productType.form-control(name='productType' value=product.produceType disabled  )
            .form-group
              label(for='status') Delivery:
              select(type="text")#status.form-control(name='status'   )
               option(value="Approve") Approve
               option(value="Decline") Decline 
            
            
            
            button.btn.btn-success(type='submit') SUBMIT
// Bootstrap JS
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
